<app-loading [colorArray]="colorArray" [isOpen]="isOpen"></app-loading>

<div id="projet-body">
    <header>
        <a href="/projet">Projets</a>
        <a href="/portfolio">Portfolio</a>
        <a href=""><img src="img/SoleilSVG.svg" alt="Logo Chevalier à 3 Casques"></a>
        <a href="/a-propos">Qui suis-je ?</a>
        <a href="/autres">Autres</a>
    </header>
    <div id="projet-header">
        <h1>Kalyptien.fr</h1>
    </div>
    <div class="projet-content">
        <h2>Bienvenue,</h2>
        <p>Sur mon site personnel, portifolio et regroupement de tout ce qui me passe par la tête !</p>
        <p>Vous retrouverez également des informations sur ma personne dans la section <a href="">à propos</a></p>
        <p>Prenez un bon casque, un peu de temps et explorez à votre guise mes divers créations.</p>

        <h3>Veuillez noter qu'une partie du site est fait en 3D et nécéssitera un appareil assez puissant pour profiter pleinement de l'expérience.</h3>
    </div>
    <div id="projet-spacer-3D">

    </div>
    <footer>
        <h2>Mes contacts</h2>

        <div id="logo">
            <a href=""><img id="logo-img" src="img/InstagramLogo.svg" alt="Logo Instagram"></a>
        </div>

        <div id="misc">
            <a href="404">Générateur à 404</a>
        </div>
    </footer>
</div>

