<app-loading [colorArray]="colorArray" [isOpen]="isOpen"></app-loading>

<div id="homepage-body">
    <header>

    </header>
    <div id="homepage-header">
        <h1>Kalyptien.fr</h1>
    </div>
    <div class="homepage-content">
        <h2>Bienvenue</h2>
        <p>Ce site sert globalement de platforme pour mes projets !</p>
        <p>Il sert également de site CV et d'un endroit pour exposer mon univers et mes idées</p>
        <p>Prenez un bon casque, un peu de temps et explorez à votre guise mes divers créations.</p>

        <h3>Veuillez noter qu'une partie du site est fait en 3D et nécéssitera un appareil assez puissant pour profiter pleinement de l'expérience.</h3>
    </div>
    <div id="homepage-spacer-3D">

    </div>
    <div class="homepage-content">
        <h2> Version sans-3D</h2>
        <div id="homepage-light-page">
            <a href="">Mon Curriculum Vitae</a>
            <a href="">Mes Projets</a>
            <a href="">Mon Univers</a>
        </div>
    </div>
    <footer>
        <h2>Mes contacts</h2>
    </footer>
</div>

