@font-face{
    font-family: 'Vlanella';
    src: url("../../assets/fonts/Vlanella_regular.otf") format("opentype");
}

@font-face{
    font-family: 'VlanellaOut';
    src: url("../../assets/fonts/Vlanella_outline.otf") format("opentype");
}