<app-loading [colorArray]="colorArray" [isOpen]="isOpen"></app-loading>

<div id="portfolio-body">
    <header>
        <a href="/projet">Projets</a>
        <a href="/portfolio">Portfolio</a>
        <a href=""><img src="img/SoleilSVG.svg" alt="Logo Chevalier à 3 Casques"></a>
        <a href="/a-propos">Qui suis-je ?</a>
        <a href="/autres">Autres</a>
    </header>
    <div id="portfolio-header">
        <h1>Portfolio</h1>
    </div>
    <div class="portfolio-content">
        <div id="seperator-pixelart">
            <h1>Pixel-Art</h1>
        </div>
        <div id="content-pixelart"></div>
    </div>
    <div id="portfolio-spacer-3D"></div>
     <div class="portfolio-content">
        <div id="seperator-photo">
            <h1>Photographie</h1>
        </div>
        <div id="content-photo"></div>
    </div>
    <div id="portfolio-spacer-3D"></div>
    <div class="portfolio-content">
        <div id="seperator-model">
            <h1>Modélisation 3D</h1>
        </div>
        <div id="content-model"></div>
    </div>
    <div id="portfolio-spacer-3D-last"></div>
    <footer>
        <h2>Mes contacts</h2>

        <div id="logo">
            <a href=""><img id="logo-img" src="img/InstagramLogo.svg" alt="Logo Instagram"></a>
        </div>

        <div id="misc">
            <a href="404">Générateur à 404</a>
        </div>
    </footer>
</div>

