<div id="loading-main" [className]="isOpen ? 'isOpen' : 'isClose'">
    <div id="loading-content">
        <img id="loading-img" src="img/ChevalierSVG.svg" alt="Logo Chevalier à 3 Casques">
        <h1 id="loading-text">Kalyptien OS</h1>
    </div>
</div>

@for(color of colorArray; track color.pos) {
    <div class="loading-children" 
    [style.background]="color.color"
    [style.z-index]="9999 - color.pos"
    [style.transition-delay]="'.' + color.pos + 1 + 's'"
    [className]="isOpen ? 'loading-children | isOpen' : 'loading-children | isClose'">
    </div>
}