<app-loading [colorArray]="colorArray" [isOpen]="isOpen"></app-loading>

<div id="a-propos-body">
    <header>
        <a href="/projet">Projets</a>
        <a href="/portfolio">Portfolio</a>
        <a href=""><img src="img/SoleilSVG.svg" alt="Logo Chevalier à 3 Casques"></a>
        <a href="/a-propos">Qui suis-je ?</a>
        <a href="/autres">Autres</a>
    </header>
    <div id="a-propos-header">
        <h1>Qui suis-je ?</h1>
    </div>
    <div class="a-propos-content">
        <h2>Pierre-Loup Costes-Pinget</h2>

        <p>Jeune développeur de {{age}} ans, spécialisé en développement Web.</p>
        <p>Je cherche actuellement à me spécialiser en Front-End et à étendre mes compétences artistiques.</p>
        <p>Au mieux, je cherche à explorer le plus de domaines possibles, même hors de l'Art.</p>
        <p>Ce site tend à devenir une vitrine personnel, un fenêtre sur mon univers, ce que j'aime faire ou ce que j'espère un jour réaliser.</p>
    </div>
    <div id="a-propos-spacer-3D">

    </div>
    <footer>
        <h2>Mes contacts</h2>

        <div id="logo">
            <a href=""><img id="logo-img" src="img/InstagramLogo.svg" alt="Logo Instagram"></a>
        </div>

        <div id="misc">
            <a href="404">Générateur à 404</a>
        </div>
    </footer>
</div>

